# Auth
ADMIN_EMAIL=admin@bkskjold.dk
ADMIN_PASSWORD=changeme

# Spond Integration (optional — app works with seeded data without these)
SPOND_USERNAME=linusjb@gmail.com
SPOND_PASSWORD=Nusnus88!
SPOND_GROUP_ID=E7BE93ADF34C4510A4E6C0F695F78115

# DBU
DBU_TEAM_ID=460174_489363
